<h1>Introduction</h1>
 <p>This is the web site of 2A Tech Engineering SA company.</p>
 <p>
     2A Tech Engineering SA is a mauritanian start-up created in january 2019 by two friends engineers. 
    
 </p>
 <p>
     Our aim is to boost the mauirtanian digital economy by proposing some applications related to ICT, agriculture, AI and so forth.
 </p>
 
 <p>
     <img src="/assignment/app/assets/images/2atech.jpeg" class="image_area"></img>
 </p>